[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
flask = "*"
python-dotenv = "*"
requests = "*"
pandas = "*"
matplotlib = "*"
install = "*"
flask-caching = "*"
flask-cors = "*"
requests-cache = "*"
jupyter = "*"
ta-lib = {path = "./setup/TA_Lib-0.4.24-cp38-cp38-win_amd64.whl"}
numpy = "*"
scipy = "*"
uuid = "*"
openpyxl = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.8"
